main{
    height: 50vh;
    width: 100vw;
    display: flex;

}

.Principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
}