*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1F2235;;
}


main{
    height: 250vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

li{
    list-style-type: none;
}

.Principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
    color: #CCCCCC  ;
    /* border: 2px solid white;
    border-radius: 20px;*/
    /* margin-top: 120vh; */
    border: 1px solid #ff4a57;
    border-radius: 100px;
    box-shadow: -1px 0px 20px #ff4a57;
    backdrop-filter: saturate(0.5);
    
}

.Principal img{
    
    padding-bottom: 10px;
    width:20vw;
    height: 50vh;
      
}


.Principal p{
    width: 21vw;
    
    height: auto;
    font-size: 2vw;
    font-family: "Workbench", sans-serif;
    
    
}


header{
    display: flex;
    align-items: center;
    color: #CCCCCC;
    height: 15vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    margin: 10px;
}

.Contatos{
    color: #CCCCCC;
    /* margin-top: 20vh; */
    height: 50vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    
    
}

.Contatos h2{
    font-size: 3vw;
}

.Contatos div{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.Contatos div ul{
    margin: 10px;
    height: 90%;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Contatos img{
    width: 20vw;
}

.botao{
    /* border: solid 1px blue;
    border-radius: 20px; */
    border: none;
    color: #CCCCCC;
    background-color: rgba(54, 54, 54, 0);
    
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}


span{
    margin: 50px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
}
.botao a{
    margin: 20px;
}



.botao:hover{
    /* background-color: blue; */
    
    transform: scale(1.2);
}




.links{

    /* margin-top: 100px; */
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25%;
    font-family: 'Poppins', sans-serif;
}


.links h2{
    
    color: #CCCCCC;
    font-size: 3vw;
}
.botao{
    display: flex;
}

.botaoL{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ff4a57;
    border-radius: 100px;
    /* padding-top: 100px; */
    box-shadow: -1px 0px 20px #ff4a57;
    backdrop-filter: saturate(0.5);
    

    
}

.botaoL img{
    width: 12vw;
}







.site2ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90vw;
}





.site2li{
    height: 80vh;
    width: 60vw;
    border: 1px solid #ff4a57;
    border-radius: 100px;
    margin: 10vh;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #CCCCCC ;
    transition: 0.5s all ease-in-out;
}


.site2li:hover{
    transform: scale(1.2);
}


.site2li h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    margin: 20px;
}


.site2li p{
    font-size: 1vw;
}


.site2li img {
    width: 50vw;
}


.voltar a{
    color: #CCCCCC;
    font-size: 3vw;
    text-decoration: none;
    position: sticky;
    
}




@media screen and (max-width: 414px) {

    main{
        justify-content: space-around;
    }

    header{
        font-size: 5vw;
    }


    .Principal{
        flex-direction: column-reverse;
        
    }

    .Principal p{
        font-size: 3vw;
        width: 60%;
    }

    .Principal img{
        width: 50%;
        height: 50%;
    }


    .Contatos h2{
        font-size: 7vw;
    }

    .Contatos div{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .Contatos li{
        font-size: 5vw;
    }

    .Contatos div img{
        width: 25%;
    }

    .links h2 {
        font-size: 7vw;
        margin: 20px;

    }

    .links div {
        flex-direction: column;
    }

    .links img{
        width: 35%;
    }

    
    

    .botao{
        margin-top: 25px;
    
    }

    .links span{
        font-size: 4vw;
    }




    .site2li{
        width: 100%;
    }

    .site2li img{
        width: 80vw;
    }

    .site2li h2{
        font-size: 5vw;
    }

    .site2li p{ 
        font-size: 3vw;
    }

    
}